div.block-container.css-z5fcl4.egzxvld4{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
}
div.css-1544g2n.e1fqkh3o4{
    padding-top: 0;
    padding-bottom: 0;
}
div.css-1dx1gwv.e88czh81{
    padding: 0;
}
h2.sidebar-title{
    padding-top: 0;
    padding-bottom: 12px;
}
div.css-1py2o2w.e1tzin5v0{
    gap: 0;
}
label.css-81oif8.effi0qh3,
div.row-widget.stButton{
    min-height: 0;
}
div.css-1pd56a0.e1tzin5v0{
    gap: 0;
}
div.uploadedFileName.css-1uixxvy.exg6vvm6{
    margin-bottom: 0;
}
h2.sidebar-title{
    padding-bottom: 0;
}
div.css-1q80ws6.e1tzin5v0{
    gap: 0.7rem;
}
div.stSlider{
    height: 3.5rem;
}
#MainMenu
{
    visibility: hidden;
}
footer.css-164nlkn.egzxvld1
{
    visibility: hidden;
}
div.css-bgz5el.e1tzin5v0{
    gap: 0;
}